[Unit]
Description = Dispatch Service
[Service]
User=roboshop
// highlight-start
Environment=AMQP_HOST={{ amqp_host }}
// highlight-end
Environment=AMQP_USER={{ amqp_user }}
Environment=AMQP_PASS={{ amqp_pass }}
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target